* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

main {
    background: #FFF;
    display: table;
    padding: 4em 1em 0;
    width: 100vw;
}

/* Desktop: */
@media (min-width: 1025px) {
    body {
        background: #eee;
    }

    main {
        width: 80vw;
        padding: 4em 1em 1em;
        margin: 0 auto -4em;
    }
}

.table-options .results-per-page {
    float: right;
    margin: 0 0 0 1em;
}

table thead .fa-sort-asc, table thead .fa-sort-desc {
    position: relative;
    top: 0.25em;
    margin-left: 0.5em;
}

.custom-select {
    display: block;
}
.descriptions>div{
    padding: 1em;
}
.progress-bar{
    padding: 0.5em 0em 1.8em 0;
    font-weight: bold;
}
.form-group-striped .form-group:nth-child(odd){
    background-color:rgba(0,0,0,0.05);
}
.form-group-list-options .form-group{
    margin: 0;
}
.form-group-list-options .form-group:hover{
    background-color:rgba(0,0,0,.075)
}

.mounts label{
    width: 100%;
    display: block;
    padding: 1em;
    margin:0;
}
.mounts .custom-radio .custom-control-indicator{
    margin: 0.7em 1em;
}
.mounts .description{
    margin: -0.1em 0 0 1.8em;
}
.device-options > * {
    margin:1em 0 0;
}
.shutdown {
    margin: 0 auto;
    text-align: center;
    padding:0 1em 1em;
}
.shutdown h1 {
    margin: 1em 0
}

.row-btn {
    margin: -1em 0;
    padding: 0.4em 0.7em;
}

.form-control:invalid {
    border-color: #F00;
    background: #FEE;
}
.custom-control-description span {
    float: right;
}