{% extends "layout/layout.html" %}
{% set current_page = 'settings' %}
{% set title = 'Settings' %}

{% block body %}
<form action="/settings" method="post">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <div class="form-group">
        <label for="outputFormat">Output format</label>
        <select class="custom-select" id="outputFormat" aria-describedby="description-xml"
                data-dynamic-description="true" name="recording_format">
            <option value="xml" selected>XML</option>
            <option value="csv">CSV</option>
            <option value="newz">New</option>
        </select>
        <div class="descriptions">
            <div data-description-for="xml" id="description-xml" class="border">
                Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Donec rutrum congue leo eget
                malesuada. Nulla quis lorem ut libero malesuada feugiat. Donec rutrum congue leo eget malesuada.
                Curabitur aliquet quam id dui posuere blandit. Quisque velit nisi, pretium ut lacinia in, elementum id
                enim. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie
                malesuada. Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor
                volutpat.

            </div>
            <div data-description-for="csv" id="description-xsv" class="border">
                Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,
                ullamcorper sit amet ligula. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
                Sed porttitor lectus nibh. Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum
                porta. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies
                ligula sed magna dictum porta.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="outputFormat">Sensor record interval</label>
        <select class="custom-select" aria-describedby="description-xml" name="recording_format">
            {% for speed in settings.speeds %}
                <option value="{{ speed.value }}" {% if speed.is_selected %}selected{% else %}{% endif %}>{{ speed.label }}</option>
            {% endfor %}
        </select>
    </div>
    <h2>Recording location</h2>
    <div class="form-group-striped form-group-list-options mounts">
        {% for mount in settings.options.mounts %}
        <div class="form-group">
            <label class="custom-control custom-radio">
                <input id="recording_location" name="recording_location" type="radio" class="custom-control-input" value="{{ mount.mount }}"{% if mount.mount == settings.current.selected_mount %} checked{% endif %}>
                <span class="custom-control-indicator"></span>
                <div class="description">
                    <span class="custom-control-description">{% if mount.is_local %}<i class="fa fa-hdd-o" aria-hidden="true"></i>{% else %}<i class="fa fa-usb" aria-hidden="true"></i>{% endif%} {{ mount.mount }} {% if mount.is_local %}(External){% else %}(Local){% endif%}<span class="right">{{mount.free_space_human_readable}}</span></span>
                    <div class="progress border border-secondary">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: {{ mount.percent_usage }}%;"
                             aria-valuenow="{{ mount.percent_usage }}" aria-valuemin="0" aria-valuemax="100">{{ mount.percent_usage }}%
                        </div>
                    </div>
                </div>
            </label>
        </div>
        {% endfor %}
    </div>


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Save</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to save changes?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}