<!doctype html>
<head>
    <title>{{ title }} - MonitoringBox</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% block base_content %}{% endblock %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>