{% extends "layout/base.html" %}
{% block base_content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top ">
    <a class="navbar-brand" href="/">MonitoringBox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if current_page == "connected_sensors" %} active{% endif %}">
                <a class="nav-link" href="/connected_sensors">Connected sensors{% if current_page == "connected_sensors" %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item{% if current_page == "recordings" %} active{% endif %}">
                <a class="nav-link" href="/recordings">Recordings{% if current_page == "recordings" %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item{% if current_page == "settings" %} active{% endif %}">
                <a class="nav-link" href="/settings">Settings{% if current_page == "settings" %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item{% if current_page == "device_options" %} active{% endif %}">
                <a class="nav-link" href="/device_options">Device options{% if current_page == "device_options" %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content">
    <main>
        <h1>{{ title }}</h1>
        {% block body %}{% endblock %}
    </main>
</div>
{% endblock %}